.iconsContainer {
  width: 100% !important;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
}

.iconsContainer span {
  width: max-content;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--second-color);
  box-sizing: border-box;
}

.iconsContainer span:hover {
  fill: black;
}
