.reviewUserHeader {
    display: flex;
}

.userIcon {
    display: flex;
    align-items: center;
    margin: 10px;
}

.primaryText {
    font-size: 18px;
    font-weight: 700;
    margin-right: 8px;
}

.secondaryText {
    font-size: 15px;
    font-weight: 400;
}