.button {
  width: max-content;
  height: max-content;
  cursor: pointer;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: transparent;
  border: none;
  align-items: center;
}