.subtitle {
  width: max-content;
  font-weight: 400;
  font-size: 0.85rem;
  margin-bottom: 0.4rem;
  color: var(--light-color);
  padding-bottom: 1.2px;
  padding-right: 0.5rem;
  border-bottom: solid 1px var(--border-color);
}

.multiplesChoicesContainer{
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-sizing: border-box;
  border: solid 1px transparent;
}

.optionsCont {
  width: 100%;
  height: max-content;
  box-sizing: border-box;
}
