.menuContainer {
  width: 100%;
  max-width: 60rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(0, 29rem));
  grid-gap: 1rem;
  box-sizing: border-box;
}

.article {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}