.menu {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: max-content;
  grid-row-gap: 0.3rem;
  padding: 0 1rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.menu::-webkit-scrollbar {
  width: 3px;
}

.menu::-webkit-scrollbar-thumb {
  background-color: var(--focused-color);
  border-radius: 5px;
}

.menu::-webkit-scrollbar-track {
  background-color: transparent;
}
