.selectContainer {
  width: 100%;
  max-width: 40rem;
  height: max-content;
  position: relative;
  box-sizing: border-box;
}

.options {
  width: 100%;
  height: max-content;
  position: absolute;
  z-index: 10;
  background-color: var(--main-bg-color);
  top: 100%;
  border: solid 1px var(--border-color);
  border-top: none;
  box-sizing: border-box;
}

.option {
  width: 100%;
  height: max-content;
  padding: 0.2rem 1rem;
  border-top: none;
  font-size: 0.85rem;
  cursor: pointer;
  box-sizing: border-box;
}

.option:hover {
  background-color: var(--focused-color);
  color: var(--contrast-color);
}