.textareaContainer, .outlined {
  width: 100%;
  position: relative;
}

.textareaContainer textarea { 
  width: 100%;
  padding: 0.5rem;
  font-size: 0.9rem;
  border: none;
  border-bottom: 1px solid var(--border-color);
  box-sizing: border-box;
  outline: none;
}

.textareaContainer textarea:focus {
  border-bottom: 2px solid var(--focused-color);
}

.outlined textarea {
  border: 1px solid var(--border-color);
}

.outlined textarea:focus {
  border: 2px solid var(--focused-color);
}

.subtitle {
  margin-bottom: 1rem;
  font-size: 0.8rem;
  color: var(--second-color);
}
