.sectionTitle {
  width: max-content;
  height: max-content;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, max-content);
  grid-column-gap: 0.5rem;
  align-items: center;
  color: var(--primary-color);
  fill: var(--primary-color);
  box-sizing: border-box;
}

.sectionTitle h1 {
  font-size: 1.4rem;
  font-weight: 600;
  width: max-content;
}
