.title, .subtitle {
  width: 100%;
  max-width: 100%;
  height: max-content;
  font-size: 0.95rem;
  font-weight: 600;
  box-sizing: border-box;
}

.subtitle {
  font-weight: 400;
  font-size: 0.85rem;
  text-wrap: wrap;
  color: var(--second-color);
}
