.image_container {
  position: relative;
}

.logoName {
  width: 2.2rem;
  height: 2.2rem;
  border: solid 1px var(--primary-color);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 0.7rem;
  font-weight: 700;
  box-sizing: border-box;
}

.isClose {
  display: none;
}

@media screen and (width <= 750px) {
  .imageContain {
    display: none;
  }
}